.about {
  display: flex;
}

.picture {
  width: 300px;
  height: 300px;
  border-radius: 1.5626rem;
  background-color: #6f2525;
  /* background: url("../images/me.png");
  background-size: cover;
  background-position: center; */
  float: left;
  box-shadow: 0px 0px 10px 5px #efefef;
}

.text {
  flex: 1;
  padding: 1.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special-text {
  background: linear-gradient(
    to top,
    rgba(152, 32, 32, 0.15) 50%,
    transparent 50%
  );
}

.special-text:hover {
  background: linear-gradient(
    to top,
    rgba(152, 32, 32, 0.3) 50%,
    transparent 50%
  );
}

.about-me-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-me-list li {
  font-weight: 600;
  display: inline-block;
  margin: 1em;
}

@media (max-width: 1184px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blurb {
    padding-bottom: 1rem;
  }

  .links {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .about-me-list li {
    display: block;
  }

  .text {
    padding: 1.5em 0;
  }
}
