.about {
  display: flex;
}

.picture-wrapper {
  width: 300px;
  height: 300px;
  /* background: url("../images/me.png");
  background-size: cover;
  background-position: center; */
}

.picture {
  width: 300px;
  height: 300px;
  border-radius: 1.5626rem;
  box-shadow: 0px 0px 10px 10px #efefef;
  object-fit: cover;
}

.text {
  flex: 1;
  padding-left: 1.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blurb {
  margin-bottom: 0.5em;
}

.special-text {
  background: linear-gradient(
    to top,
    rgba(152, 32, 32, 0.15) 100%,
    transparent 100%
  );
}

.special-text:hover {
  background: linear-gradient(
    to top,
    rgba(152, 32, 32, 0.3) 100%,
    transparent 100%
  );
}

.about-me-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.about-me-list li {
  font-weight: 600;
  display: inline-block;
  margin: 1em;
}

@media (max-width: 1184px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    padding: 1.5em;
  }

  .blurb {
    padding-bottom: 1rem;
  }

  .links {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .about-me-list {
    flex-direction: column;
  }

  .about-me-list li {
    display: block;
  }

  .text {
    padding: 1.5em 0;
  }
}
