.primary-btn {
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #6f2525;
  height: 2.5rem;
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6f2525;
  border-radius: 1.5626rem;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s;
}

.primary-btn:hover {
  color: #6f2525;
  background-color: #ffffff;
  border: 2px solid #6f2525;
  cursor: pointer;
}
