.wrapper {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 5em 0 5em 0;
  line-height: 1.3;
}

.heading {
  margin: 0;
}

.email a {
  color: rgba(152, 32, 32);
  text-decoration: none;
}

.special-text {
  background: linear-gradient(
    to top,
    rgba(152, 32, 32, 0.15) 100%,
    transparent 100%
  );
}

.special-text:hover {
  background: linear-gradient(
    to top,
    rgba(152, 32, 32, 0.3) 100%,
    transparent 100%
  );
}

@media (max-width: 635px) {
  .wrapper {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .wrapper {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .wrapper {
    font-size: 1.2rem;
  }
}

@media (max-width: 280px) {
  .wrapper {
    font-size: 1rem;
  }
}
