* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
}

section {
  margin-bottom: 5em;
}

@media (max-width: 767px) {
  section {
    margin-bottom: 1em;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 1.5rem;
  }
}
