header {
  width: 100%;
  height: 5rem;
  background-color: #6f2525;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.header-wrapper {
  width: 68.75rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem;
}

.brand {
  color: #ffffff;
  margin: 0;
}
