header {
  width: 100%;
  height: 5rem;
  background-color: #6f2525;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

.header-wrapper {
  width: 68.75rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem;
}

.brand {
  color: #ffffff;
  margin: 0;
}
