.intro-wrapper {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.3em 0 1.5em 0;
  line-height: 1.3;
}

.hello {
  color: #6f2525;
  margin: 0;
}

.welcome {
  margin: 0;
}

@media (max-width: 575.98px) {
  .intro-wrapper {
    font-size: 2rem;
  }
}
