.main-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper {
  max-width: 68.75rem;
  margin: 0 2.5em;
}

@media (max-width: 1190px) {
  .content-wrapper {
    width: 100%;
    padding: 0 2rem;
  }
}
