.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  max-width: 68.75rem;
  margin: 0 2.5em;
}

@media (max-width: 575.98px) {
  .content-wrapper {
    margin: 0 2rem;
  }
}
