.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 18.75rem;
  height: 100%;
  background-color: #6f2525;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1em;
  transition: transform 400ms ease-in;
  z-index: 1;
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(100%);
}

.close {
  padding: 1em;
  background-color: #6f2525;
  outline: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.link {
  color: #ffffff;
  margin: 1.5rem 0;
  border-bottom: 2px solid #ffffff;
}
