.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 18.75rem;
  height: 100%;
  background-color: #6f2525;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1em;
  transition: transform 400ms ease-in;
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(100%);
}

.close {
  padding: 1em;
  background-color: #6f2525;
  outline: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
}

.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.link {
  color: #ffffff;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ffffff;
}
